body
{
	max-width:60em;
	padding: 10px;
	padding-left: 80px !important;
	background-color: FFFFFF;
}

h1,h2,h3
{
background:none !important;
}

/*
strong, b
{
	font-size:0.8em !important;
}
*/



.entity
{
	border:1px solid #EEA !important;
	background-color: FFC;
	padding: 20px;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
	margin-bottom:1em;
}


.entity h2.title
{
	font-size: 2.0em;
	margin-bottom:0em;
	margin-top:0em;
}

.entity h3
{
	margin-bottom:0.5em;
	padding-bottom:0em;
	margin-top:1.5em;
}

.entity .url {
	font-size: 0.75em;
	color:#998;
}


.backlink
{
border:none !important;
background-color: #FFC;
/* not sure why I have to set a bg-color here. is grey otherwise */
}

.hlist
{
	border:1px solid !important;
	background-color: #FF9 !important;
}







.comment {
	margin-top: 1.5em;
	background-color: lightyellow;
	color: grey;
	-webkit-box-shadow: 3px 3px 3px #BB8;
	box-shadow: 3px 3px 3px #BB8;
	border: 1px solid grey;
	padding: 3px;
	max-width: 50%;
	/* how to make this float left properly? */
	/* float:left; */
}

.editorialNote {
	margin-top: 1.5em;
	background-color: #FBB;
	color: grey;
	-webkit-box-shadow: 3px 3px 3px #BB8;
	box-shadow: 3px 3px 3px #BB8;
	border: 1px solid grey;
	padding: 3px;
	max-width: 50%;
	/* how to make this float left properly? */
	/* float:left; */
	overflow:hidden;
	height: 1em;
}

.editorialNote:hover:before {
	content: "";
}

.editorialNote:hover {
	height: auto;
	overflow: auto;
}

.editorialNote:before {
	content: "Show editorial notes ...";
}



.example {
	margin-top: 1.5em;
	/* background-color: #FAA; */
	/*color: grey;*/
	-webkit-box-shadow: 3px 3px 3px #BB8;
	box-shadow: 3px 3px 3px #BB8;
	/* border: 1px solid grey; */ 
	border-left: 0.5em solid green ;
	padding: 3px;
	padding-left: 0.5em;
	max-width: 100%;
	/* how to make this float left properly? */
	/* float:left; */
}

.related_see_also {
	margin-top: 1.5em;
	color: grey;
}

.info, .description {
	margin-top: 1.5em; 
	background:none !important;
}



.references {
	margin-top: 4em;
}

.citations {
		margin-top: 1.5em;
}

.citation {
		width: 90%;
		margin-bottom: 0.5em;
		/*background-color:#FF9;*/
		background-color: white;
		-webkit-box-shadow: 3px 3px 3px #BB8;
		box-shadow: 3px 3px 3px #BB8;
}

.citation_content {
	padding:5px;
	font-size: 0.8em;
	  font-family:
    "courier new",		/* Windows, MacOS */
    courier,			/* Unix+X, MacOS */
    monospace;
}

.citation_no_content {
	padding:5px;
	font-size: 0.8em;
	font-family:
    "courier new",		/* Windows, MacOS */
    courier,			/* Unix+X, MacOS */
    monospace;
    color: #BB8;
}

.citation_content_as_booksection{
	padding:5px;
	font-size: 0.8em;
	  font-family:
    "courier new",		/* Windows, MacOS */
    courier,			/* Unix+X, MacOS */
    monospace;
	background-color: #FFB;
}

.citation_comment {
	/*background-color:#FED;*/ 
	padding:5px;
	font-size: 0.8em;
}

ul.quote_follows li {
	border-left: 1em solid #DFD ;
	padding-left: 0.5em;
}

ul.quote_contradicts li {
	border-left: 1em solid #FDD ;
	padding-left: 0.5em;
}

ul.quote_considers li {
	border-left: 1em solid #DDD ;
	padding-left: 0.5em;
}



.citation_metadata {
	float:right;
	font-size: 0.6em;
	color: #BB8;
	margin-right:1em;
}


.list_image {
	width: 200px;
}

.todo {color:red}


span.quote_symbol {
	/*color:#CC9;
	font-size: 3.5em;
	font-family: serif;*/
}

.discuss a {
   float:right;
   border-top: 1px solid #bff2f1;
   background: #8ed665;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e9c42), to(#8ed665));
   background: -webkit-linear-gradient(top, #3e9c42, #8ed665);
   background: -moz-linear-gradient(top, #3e9c42, #8ed665);
   background: -ms-linear-gradient(top, #3e9c42, #8ed665);
   background: -o-linear-gradient(top, #3e9c42, #8ed665);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   /*font-family: Georgia, serif;*/
   text-decoration: none;
   vertical-align: middle;
   margin-top:5px;
   }
.discuss:hover a {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.discuss:active a {
   border-top-color: #1b435e;
   background: #1b435e;
   }
   
   
   